.footer {
  padding: size(25px) 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: size(35px);
    font-size: size(14px);
    line-height: size(16px);
    color: $storm-grey;
    text-align: center;

    p {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
