.header {
  padding: size(30px) 0;
  background-color: $color-default-white;

  @include _768 {
    padding: 19px 0;
  }

  &.is-open {
    @include _768 {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      background-color: rgba($color-default-white, 0.95);
      z-index: 5;
      display: flex;

      & + main {
        margin-top: 88px;
      }
    }

    .header__container {
      @include _768 {
        padding: 18px 24px;
        max-width: 320px;
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        height: 100%;
        margin: 0;
        background-color: $color-default-white;
        box-shadow: 16px 0px 52px 0px rgba($sapphire, 0.2);
        animation: toRight 0.6s ease-in-out;
        overflow: auto;
      }

      @include _576 {
        padding: 18px 16px;
      }
    }

    .header__top {
      @include _768 {
        margin: 0;
        margin-bottom: 25px;
      }
    }

    .header__burger {
      @include _768 {
        background-image: url("/img/svg/close.svg");
        margin-right: 0;

        &::after {
          display: none;
        }
      }
    }

    .header__search {
      @include _768 {
        display: flex;
      }
    }

    .header__nav {
      @include _768 {
        display: block;
        margin-bottom: auto;
      }
    }

    .header__contacts {
      @include _768 {
        display: flex;
        margin-bottom: 20px;
      }
    }

    .header__language {
      @include _768 {
        display: flex;
      }
    }

    .header__buttons {
      @include _576 {
        display: flex;
      }
    }

    .intro__buttons {
      @include _768 {
        display: none;
      }
    }
  }

  &__container {
    padding: 0 size(24px);

    @include _768 {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    @include _576 {
      padding: 0 16px;
      gap: 16px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: size(20px);
    margin-bottom: size(46px);

    @include _768 {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  &__burger {
    display: none;

    @include _768 {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $violet-red;
      background-image: url("/img/svg/burger.svg");
      background-size: 18px 16px;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      margin-right: 20px;
      cursor: pointer;
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        right: -22px;
        border-radius: 1px;
        background-color: $whisper;
      }
    }

    @include _576 {
      margin: 0;

      &::after {
        display: none;
      }
    }
  }

  &__logo {
    width: size(97px);
    aspect-ratio: 97 / 51;
    flex-shrink: 0;
  }

  &__search {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: size(10px);

    @include _768 {
      display: none;
    }

    input {
      width: 0;
      padding: 0;
      border: none;
      transition: width $trans-default;
      outline: none;

      &:focus {
        width: calc(100% - size(50px));
        padding: size(5px);
        border: size(1px) solid $violet-red;
        border-radius: size(6px);
      }
    }

    label {
      width: size(40px);
      height: size(40px);
      border-radius: 50%;
      background-color: $violet-red;
      background-image: url("/img/svg/search.svg");
      background-repeat: no-repeat;
      background-size: size(17px) size(17px);
      background-position: center;
      cursor: pointer;
      margin-left: auto;
      flex-shrink: 0;
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }

  &__nav {
    margin-bottom: size(240px);

    @include _768 {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: size(28px);
  }

  &__nav-item {
    a {
      font-size: size(16px);
      line-height: size(24px);
      letter-spacing: size(-0.2px);
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }

    &--current {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: size(-22px);
        top: 0;
        min-height: 100%;
        width: size(4px);
        background-color: $turquoise;
        border-radius: size(2px);

        @include _768 {
          left: -24px;
          border-radius: 0 4px 4px 0;
        }

        @include _576 {
          left: -16px;
        }
      }

      a {
        color: $storm-grey;
        pointer-events: none;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: size(16px);
    margin-bottom: size(17px);

    @include _768 {
      margin-bottom: 0;
    }

    @include _576 {
      display: none;
    }
  }

  &__button {
    display: flex;
    flex-shrink: 0;

    a {
      display: flex;
      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }

      &::before {
        content: "";
        width: size(40px);
        height: size(40px);
        border-radius: 50%;
        background-color: $violet-red;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
      }
    }


    &--phone {
      a {
        &::before {
          background-image: url("/img/svg/phone.svg");
          background-size: size(18px) size(19px);
        }
      }
    }

    &--mail {
      a {
        &::before {
          background-image: url("/img/svg/mail.svg");
          background-size: size(20px) size(21px);
        }
      }
    }

    &--user {
      a {
        &::before {
          background-image: url("/img/svg/user.svg");
          background-size: size(20px) size(19px);
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: size(12px);
    margin-bottom: size(41px);

    @include _768 {
      display: none;
    }
  }

  &__contacts-link {
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.7;
    }

    &--mail {
      font-size: size(16px);
      line-height: size(24px);
      letter-spacing: size(-0.2px);
    }

    &--phone {
      font-size: size(24px);
      line-height: size(32px);
      font-weight: 700;
      letter-spacing: size(-0.6px);
    }
  }

  &__language {
    display: flex;
    align-items: center;
    gap: size(7px);

    @include _768 {
      display: none;
    }
  }

  &__language-radio {
    font-size: size(16px);
    line-height: size(24px);
    letter-spacing: size(-0.2px);

    input:checked {
      & + label {
        color: $storm-grey;
      }
    }

    label {
      cursor: pointer;
      transition: color $trans-default, opacity $trans-default;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }
}

@keyframes toRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
