.repair {
  padding-bottom: size(20px);

  &__slider {
    margin-bottom: size(24px);

    @include _576 {
      padding: 0 16px;
      margin: 0 -16px;
    }
  }

  &__slides {
    @include _576 {
      margin-bottom: 16px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: size(16px);

    @include _576 {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__slide-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 size(16px);
    height: size(72px);
    background-color: $color-default-white;
    border-radius: size(6px);
    border: size(1px) solid $whisper;
    gap: size(10px);

    @include _576 {
      min-width: 240px;
      flex-grow: 1;
    }

    a {
      width: size(40px);
      height: size(40px);
      border-radius: 50%;
      border: size(2px) solid $violet-red;
      background-image: url("/img/svg/arrow.svg");
      background-repeat: no-repeat;
      background-size: size(8px) size(12px);
      background-position: center;
      transition: opacity $trans-default;
      flex-shrink: 0;

      @include hover-focus {
        opacity: 0.7;
      }
    }
  }

  &__slide-logo {
    height: size(52px);
    width: auto;
    max-width: size(128px);
  }

  .swiper-pagination {
    display: none;

    @include _576 {
      display: flex;
      position: static;
      justify-content: center;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      background-color: #fff;
      background-color: $gainsboro;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: $mischka;
    }
  }

  &__link {
    font-size: size(16px);
    line-height: size(24px);
    letter-spacing: size(-0.2px);
    display: flex;
    align-items: center;
    gap: size(8px);
    transition: opacity $trans-default;

    @include _576 {
      display: none;
    }

    @include hover-focus {
      opacity: 0.7;
    }

    &::before {
      content: "";
      width: size(24px);
      height: size(24px);
      flex-shrink: 0;
      background-image: url("/img/svg/expand.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform-origin: center;
      transition: transform $trans-default;
    }
  }
}
