.title {
  font-weight: 700;
  margin: 0;

  &--h1 {
    position: relative;
    font-size: size(28px);
    line-height: size(40px);
    letter-spacing: size(-0.6px);

    &::before {
      content: "";
      position: absolute;
      width: size(4px);
      min-height: 100%;
      left: size(-29px);
      top: 0;
      background-color: $turquoise;
      border-radius: size(2px);

      @include _768 {
        left: -24px;
        border-radius: 0 4px 4px 0;
      }

      @include _576 {
        left: -16px;
      }
    }
  }

  &--h2 {
    font-size: size(16px);
    line-height: size(24px);
    font-weight: 400;
    letter-spacing: size(-0.2px);
    text-transform: uppercase;
    color: $storm-grey;
    padding: size(16px) size(32px);
    border-top: size(1px) solid $clear-day;
    background: linear-gradient(90deg, $white-smoke 0%, $color-default-white 98.61%);
    margin-bottom: size(24px);

    @include _768 {
      padding: 16px 24px;
    }

    @include _576 {
      padding: 16px;
      margin-bottom: 16px;
    }
  }
}
